// Typography

// Fonts
$font-sans = "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-sans-light = "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-sans-bold = "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif = Georgia, serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace
